<!doctype html>
<html lang="pl">
<head><meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Rekrutacja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" content="user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src="js/start.js"></script>
</head>
<body>
    {% include "app_header.twig" %}
    {% include "app_main-content.twig" %}
    {% include "app_footer.twig" %}
</body>
</html>
