$languages-number: 2;

.languages-switcher {

    &__list {
        @include standard-grid;
    }

    &__item {
        position: relative;
        height: 0;
        padding-bottom: 100%;
        cursor: pointer;
        text-align: center;

        & + & {
            &:before {
                content: '';
                position: absolute;
                left: #{$grid-gap * -.5};
                width: $line-thin;
                height: 100%;
                background-color: $blue--dark;
            }
        }

        @for $i from 1 through $languages-number {
            &:nth-child( #{$i} ) {
                grid-column-end: #{$i - $languages-number -1};
            }
        }
    }

    &__button {
        overflow: hidden;
        &,
        &:before,
        &:after {
            @include stretch-to-parent;
            border-radius: 50%;
        }
        &:before,
        &:after {
            content: '';
        }
        &:before {
            @include transition(color, $easing: ease-in);
            z-index: -1;
        }
        &:after {
            @include transition(transform, $easing: ease-in);
            border: $line-thin solid $blue--dark;
        }
        &:hover {
            &:after {
                transform: scale(.8);
            }
        }
    }

    .current-language {
        pointer-events: none;
        color: $navy;
        .languages-switcher__button {
            &:before {
                background-color: $golden;
            }
            &:after {
                border-color: transparent;
            }
        }
    }

}
