<footer class="app__footer slider-categories">

    <h4 class="slider-categories__title">Kategorie</h4>

    <ul class="slider-categories__list">

        <li class="slider-categories__item">
            <a class="slider-categories__button" href="#" data-category="1">W świecie słowa</a>
        </li>

        <li class="slider-categories__item">
            <a class="slider-categories__button" href="#" data-category="2">Przedsięwzięcia i innowacje</a>
        </li>

        <li class="slider-categories__item">
            <a class="slider-categories__button" href="#" data-category="3">Rewolucje i utopie</a>
        </li>

        <li class="slider-categories__item">
            <a class="slider-categories__button" href="#" data-category="4">Dźwięki, gesty, obrazy</a>
        </li>
        
    </ul>

</footer>
