<header class="app__header">

    <h1 class="app__title" style="display: none">Polin</h1>

    <nav class="languages-switcher">
    
        <ul class="languages-switcher__list">
        
            <li class="languages-switcher__item current-language">
                <a class="languages-switcher__button" href="#">pl</a>
            </li>

            <li class="languages-switcher__item">
                <a class="languages-switcher__button" href="#">en</a>
            </li>

        </ul>
    
    </nav>

</header>