.languages-switcher__item {
    @include language-switcher__font;
}

.slider-categories {
    @include categories__font;
    &__title {
        @include categories-title__font;
    }
}

.person {
    &__name {
        @include title-font;
    }
    &__role {
        @include subtitle-font;
    }
    &__quote {
        @include paragraph-font;
        &:before {
            @include quotation__font;
        }
    }
}
