$golden:                #C19D6B;
$navy:                  #0B2243;
$blue:                  #5877A5;
$blue--light:           #5E7C9D;
$blue--extra-light:     #D4DBE2;
$blue--dark:            #3E5577;
$white:                 #FFFFFF;
$mask-color:            rgba(11,34,67,0.52);
