$line-height-default: 1.35em;

$xs__font-size: 0.94vw;
$s__font-size: 1.04vw;
$m__font-size: 1.77vw;
$l__font-size: 1.82vw;
$xl__font-size: 6.78vw;

@mixin antialiasing {
    -webkit-font-smoothing: antialiased;
}

@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

@mixin language-switcher__font {
    @include uppercase;
    font-family: 'BeletriaLarge-MediumItalic', serif;
    font-size: $xs__font-size;
    line-height: 3.5em;
}

@mixin quotation__font {
    font-family: 'BeletriaLarge-Regular', serif;
    font-size: $xl__font-size;
    line-height: 1em;
}

@mixin categories__font {
    font-family: 'Beletrio-Light', sans-serif;
    font-size: $s__font-size;
    line-height: 1.5em;
}

@mixin categories-title__font {
    font-family: 'BeletriaLarge-Medium', serif;
    font-size: $l__font-size;
    line-height: 1.06em;
}

@mixin title-font {
    font-family: 'BeletriaLarge-Regular', serif;
    font-size: $m__font-size;
    line-height: 1.08em;
}

@mixin large-title-font {
    font-family: 'BeletriaLarge-Bold', serif;
}

@mixin subtitle-font {
    @include uppercase;
    font-family: 'BeletriaLarge-Regular', serif;
    font-size: $xs__font-size;
    line-height: 1.28em;
}

@mixin paragraph-font {
    font-family: 'Beletrio-Light', sans-serif;
    font-size: $xs__font-size;
    line-height: $line-height-default;
}

@mixin fontFamily($name, $weight) {
    font-family: '#{$name}#{$weight}';
    src: url('..//fonts/#{$name}/#{$name}#{$weight}.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    @include fontFamily('BeletriaLarge',
    '-Regular');
}

@font-face {
    @include fontFamily('BeletriaLarge',
    '-MediumItalic');
}

@font-face {
    @include fontFamily('BeletriaLarge',
    '-Medium');
}

@font-face {
    @include fontFamily('BeletriaLarge',
    '-Bold');
}

@font-face {
    @include fontFamily('Beletrio',
    '-Light');
}