.slider-categories {
    align-items: center;
    border-top: $line-thin solid $blue--dark;
    &,
    &__title,
    &__list {
        display: flex;
    }
    &__title {
        padding: 0.6em 1.2em;
    }
    &__list {
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        color: $blue__extra-light;
    }
    &__item {
        @include centerXY;
        width: 100%;
        height: 100%;
        border-left: $line-thin dashed $blue--light;
        cursor: pointer;
        text-align: center;
    }
    &__button {
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $line-thin;
            background-color: $blue__extra-light;
            transform: translateX(-100%);
        }
        &:hover {
            &:after {
                @include transition(transform, .7s);
                transform: translateX(100%);
            }
        }
    }
}
