.slider__navigation {
    @include page-margin;
    @include subgrid;
    position: absolute;
    bottom: 16%;
    width: 100%;
    &-button {
        @include transition(opacity);
        grid-column: 1 / span 3;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        &.locked {
            pointer-events: none;
            opacity: .3;
        }
        &[data-direction="prev"] {
            transform: scaleX(-1);
        }
        &[data-direction="next"] {
            grid-column: span 3 / -1;
        }
        svg {
            pointer-events: none;
        }
    }
}