.slider {
    display: flex;
    align-items: flex-start;
    
    &__content {
        @include transition(all, 1s, ease-in-out);
        display: inline-flex;
        align-items: flex-start;
        padding-top: 7.87vh;
        opacity: 0;
        &.shown {
            opacity: 1;
        }
    }

    &__slide {
        @include transition(opacity);
        @include centerXY;
        flex-direction: column;
        width: 20vw;
        margin: 0 2.06vw;
        text-align: center;

        &,
        & > * {
            @include transition(all, 1s, ease-in-out);
        }

        &.active-slide {
            transform: scale(1.5) translateY(9%);
            .person {
                &__name {
                    @include large-title-font;
                    opacity: 1;
                }
                &__image {
                    width: 75%;
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
    }

}

.person {
    &__image {
        position: relative;
        overflow: hidden;
        width: 86%;
        height: 0;
        padding-bottom: 86%;
        &:after {
            @include stretch-to-parent;
            @include transition(opacity);
            content: '';
            background: linear-gradient(180deg, $mask-color 0%, $navy 100%);
        }
        img {
            width: 100%;
            margin-top: -7%;
        }
    }
    &__name {
        opacity: .53;
        margin-top: 1.23em;
        margin-bottom: 0.41em;
    }
    &__role {
        opacity: .99;
        margin-bottom: 0.77em;
        color: $blue;
    }
    &__quote {
        position: relative;
        opacity: 0;
        span {
            opacity: .68;
            display: inline-block;
        }
        &:before {
            content: '„';
            position: absolute;
            z-index: -1;
            top: -0.75em;
            left: -0.3em;
            color: $golden;
        }
    }
}
