{% macro person(image_id, name, role, quote) %}

    <figure class="person__image">
        <img src="images/portraits/{{ image_id }}.jpg"/>
    </figure>

    <h2 class="person__name">{{ name }}</h2>

    <h3 class="person__role">{{ role }}</h3>

    <p class="person__quote">
        <span>{{ quote }}</span>
    </p>

{% endmacro %}
