{% import "macros/person.twig" as person %}

<div class="slider__content">

    {% set peopleData = [
        [
            'Deutsch',
            'Helena Deutsch',
            'psychiatra',
            'Helena Deutsch - cytat'
        ],
        [
            'Szapocznikow',
            'Alina Szapocznikow',
            'rzeźbiarka',
            'Alina Szapocznikow - cytat'
        ],
        [
            'Tuwim',
            'Julian Tuwim',
            'polski poeta',
            'Dzieci bzdurzą i – że tak powiem – chcą być bzdurzone. Potem im to przechodzi. Któremu nie przejdzie – zostaje poetą'
        ],
        [
            'Rubenstein',
            'Artur Rubenstein',
            'pianista',
            'Artur Rubenstein - cytat'
        ],
        [
            'Wars',
            'Henryk Wars',
            'kompozytor<br>dyrygent orkiestr',
            'Henryk Wars - cytat'
        ]
    ] %}

    {% for personData in peopleData %}
        <div class="slider__slide" data-index={{loop.index}}>
            {{ person.person(
                personData[0],
                personData[1],
                personData[2],
                personData[3]
            ) }}
        </div>
    {% endfor %}
    
</div>
