<nav class="slider__navigation">

    <span class="slider__navigation-button" data-direction="prev">

        {% include "svg/arrow.svg" %}

    </span>

    <span class="slider__navigation-button" data-direction="next">

        {% include "svg/arrow.svg" %}

    </span>

</nav>
