@mixin standard-grid($columns-number: $columns-number) {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat($columns-number, 1fr);
    grid-gap: $grid-gap;
    grid-auto-flow: row dense;
}

@mixin subgrid($i: $columns-number) {
    grid-column: span $i;
    grid-column: 1/ span $i;
    grid-template-rows: auto;
    display: grid;
    grid-template-columns: repeat($i, 1fr);
    grid-gap: $grid-gap;
}