@mixin stretch-to-parent {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

@mixin page-margin {
    padding: 0 $page-margin;
}

@mixin transition( $property: color, $duration: .35s, $easing: linear, $delay: 0s) {
    transition-delay: $delay;
    transition-timing-function: $easing;
    transition-duration: $duration;
    transition-property: #{$property};
}
